<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true"/>

<h1>The Feature Storehouse</h1>

<form action="https://localhost:7145/timedemail" method="get" target="_blank">
  <button>Timed Email</button>
</form>