<h1>Pixel Canvas Feature</h1>

<div class="pixel-container">
    @for (int i = 0; i < ViewBag.Pixels.Count; i++)
    {
            <div class="pixel" style=" background-color : @ViewBag.Pixels[i].color" onclick="selectPixel(this)"></div>
    }
</div>


<link rel="stylesheet" href="~/css/pixelcanvas.css" asp-append-version="true" />
<script src="~/js/pixelcanvas.js" asp-append-version="true"></script>