<h1>Timed Email Feature</h1>

<h2>Your connected ip address is: @ViewBag.RemoteIpAddress</h2>

<form id="timedEmailForm">
    <label for="emailAddress">Email: </label>
    <input type="email" name="emailAddress" placeholder="sendme@gmail.com"/>
    <label for="emailHeader">Subject: </label>
    <input type="text" maxlength="255" name="emailHeader"/>
    <label for="emailBody">Email Body: </label>
    <textarea rows="1" cols="10" name="emailBody"></textarea>
    <label for="time">Time To Be Sent: </label>
    <input type="datetime-local" name="time"/>
    <input type="hidden" name="ipAddress" value="@ViewBag.RemoteIpAddress"/>
    <input type="submit" value="Submit"/>
</form>

<script src="~/js/timedemail.js" asp-append-version="true"></script>
